<% layout('./layouts/boilerplate') %>

    <h1 class="display-5 border-bottom">All Campgrounds</h1>

    <% for(let campground of campgrounds) { %>

        <div class="card mb-3 shadow mb-5 bg-body rounded">
            <div class="row">
                <div class="col-md-4">
                    <a href="/campgrounds/<%= campground._id %> "><img
                            src="<%= campground.image %> " class="img-fluid"
                            alt="" style="height: 200px; width: 400px;"></a>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= campground.title %>
                        </h5>
                        <p class="card-text lead">
                            <%= campground.description %>
                        </p>
                        <p class="card-text text-muted">
                            <%= campground.location %>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <% } %>